<!DOCTYPE html>
<html lang="ja">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112158135-3"></script>
  <script>
    window.dataLayer = window.dataLayer || []
    // eslint-disable-next-line no-undef
    function gtag () { dataLayer.push(arguments) }
    gtag('js', new Date())
    gtag('config', 'UA-112158135-3')
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>IIDX HS Calc 2</title>
  <meta name="description" content="beatmania IIDX ハイスピ計算機アプリです。フローティングハイスピード(FHS)、レーンカバー(サドプラ, SUDDEN+)にも対応。">
  <meta name="keywords" content="beatmania,IIDX,ハイスピード,SUDDEN+,サドプラ,レーンカバー,FHS">
  <link rel="icon" type="image/png" sizes="32x32"
        href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16"
        href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-16x16.png">
  <!--[if IE]>
  <link rel="shortcut icon" href="/static/img/icons/favicon.ico">
  <![endif]-->
  <!-- Add to home screen for Android and modern mobile browsers -->
  <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json">
  <meta name="theme-color" content="#4DBA87">

  <!-- Add to home screen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="iidxhscalc">
  <link rel="apple-touch-icon"
        href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-152x152.png">
  <link rel="mask-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/safari-pinned-tab.svg"
        sizes="any" color="#333333">
  <!-- Add to home screen for Windows -->
  <meta name="msapplication-TileImage"
        content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/msapplication-icon-144x144.png">
  <meta name="msapplication-TileColor" content="#000000">
  <% for (var chunk of webpack.chunks) {
  for (var file of chunk.files) {
  if (file.match(/\.(js|css)$/)) { %>
  <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>"
        as="<%= file.match(/\.css$/)?'style':'script' %>">
  <% }}} %>

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@hyrorre">
  <meta property="og:url" content="https://iidx.hyrorre.com">
  <meta property="og:title" content="IIDX HS Calc 2">
  <meta property="og:description" content="beatmania IIDX ハイスピ計算機アプリです。フローティングハイスピード(FHS)、レーンカバー(サドプラ, SUDDEN+)にも対応。">
  <meta property="og:image" content="https://iidx.hyrorre.com<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/android-chrome-192x192.png">
</head>
<body>
<noscript>
  This is your fallback content in case JavaScript fails to load.
</noscript>
<div id="app"></div>
<!-- Todo: only include in production -->
<%= htmlWebpackPlugin.options.serviceWorkerLoader %>
<!-- built files will be auto injected -->
</body>
</html>
